.player__panel-button {
  display: flex;
  outline: none;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  color: inherit;
  padding: 0;
  background: none;
}

.loop-icon {
  width: 26px;
  height: 26px;
  transition: color 0.2s ease;

  &__group {
    fill: currentColor;
    filter: drop-shadow(0 0 0.3px currentColor);
  }

  &__number {
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  &__arrows {
    opacity: 1;
  }

  &--none {
    color: inherit;

    .loop-icon__number {
      opacity: 0;
    }
  }

  &--one {
    color: #3770b1;

    .loop-icon__number {
      opacity: 1;
    }
  }

  &--all {
    color: #3770b1;

    .loop-icon__number {
      opacity: 0;
    }
  }
}

.j-toggle-loop {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover .loop-icon {
    opacity: 0.8;
  }
}
