.player__panel-button {
  display: flex;
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: white;
  padding: 4px;
  background: transparent;
  border-radius: 5px;
}

.j-preview-btn {
  transition: all 0.2s ease;

  &:hover:not(:disabled) {
    opacity: 1 !important;
    transform: scale(1.1);
  }

  &:disabled {
    cursor: not-allowed !important;
    opacity: 0.5 !important;

    &:hover {
      transform: none !important;
    }
  }
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
}

.icon-container svg {
  width: 1.3em;
  height: 1.3em;
  fill: currentColor;
}
