:host {
  display: inline-block;
}

.player__panel-button {
  display: flex;
  outline: none;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  color: white;
  padding: 0;
  background: none;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
}

.icon-container svg {
  width: 1.3em;
  height: 1.3em;
  fill: currentColor;
}
